@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F5FC;
    height: 100vh;
    box-sizing: border-box;
    
}

#logoAlura{
    margin-bottom: auto;
    margin-top: 40px;
    left: 40px;
    gap: 40px;
} 

#conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#conteudo__ladoEsquerdo__texto__digiteTexto{
    background-color: #F3F5FC;   
    color: #0A3871;
    border: 0 none;
    outline: 0;     
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    margin: 10% 15%; 
}

#conteudo__ladoEsquerdo__exclamacao{
    display: flex;
    margin-bottom: 10px;
    gap: 8px;
}

h4{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    height: 18px;
    color: #495057;

}

#exclamacao{
    height: 15px;
}

#conteudo__ladoEsquerdo__botoes{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#conteudo__ladoEsquerdo__botoes__cript{
    background: #0A3871;
    border-radius: 24px;
    border: #0A3871;
    color: #FFF;
    padding: 18px;
    width: 320px;
}


#conteudo__ladoEsquerdo__botoes__descript{
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
    padding: 18px;
    width: 320px;
}

#conteudo__ladoDireito{
 background-color: #FFFFFF;
 border-radius: 20px;
 height: 944px;
 width: 400px;
 padding: 50px;
 margin: 10px;
 display: flex;
flex-direction:column;
justify-content: center;



    
}