body{
    background-color: #F3F5FC;
    
}

#conteudo{   
    display: flex;
    align-items: center;
    justify-content: space-between;


}
#logoAlura{
    margin-bottom: auto;
    margin-top: 40px;
    left: 40px;
    gap: 40px;
}  


#ladoEsquerdo{
    display: flex;
    flex-direction: column; 
    margin-left: 200px;  

}

#topo{
     height: 500 ;
}

#digiteTexto{
    background-color: #F3F5FC;   
    color: #0A3871;
    border: 0 none;
    outline: 0;     
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    resize: none;
    overflow-y: hidden;  
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
   
  
}

#exclamation{
    display: flex;
    align-items: center;
       
}

#rodape{
    left: 240px;
}

#cript{
    background: #0A3871;
    border-radius: 24px;
    border: #0A3871;
    color: #FFF;
    padding: 20px;
    width: 320px;
}


#descript{
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
    padding: 20px;
    width: 320px;
}


#ladoDireito{
    background: #FFFFFF;
    width: 400px;
    height: 100vh;
    left: 1000px;
    border-radius: 32px;
    margin-top: 30px;
  
  
}