body{
    background-color: #F3F5FC;
    
}
#conteudo{   
    display: flex;
    align-items: center;
    justify-content: space-between;


}
#logoAlura{
    margin-bottom: auto;
    margin-top: 40px;
    left: 40px;
    gap: 40px;
}  

#ladoDireito{
    background: #FFFFFF;
    top: 40px;
    width: 400px;
    height: 944px;
    left: 1000px;
    border-radius: 32px;
}



